.page_wrapper {
  font-family: 'Georgia';
  margin: 2% 5%;
  padding: 0px 25px 45px 15px;
}

header {
  background-color: black;
  width: 100%;
  color: white;
  padding: 0px 0px 0px 1%;
}

.main_content {
  background-color: gray;
  margin-left: 3%;
  float: left;
  padding: 0px 1%;
  width: 60%;
  margin-bottom: 5%;
}

#brett_photo {
  height: 200px;
  width: 200px;
}

.contacts {
  float: right;
  width: 30%;
}

img {
  height: 75px;
  width: 75px;
}

footer {
  clear: both;
  text-align: center;
}
