/*.page_wrapper {
  font-family: 'Georgia';
  margin: 2% 5%;
  padding: 0px 25px 45px 15px;
}
*/

* {
  font-family: 'Georgia';
  margin: 0;
  padding: 0;
}

/*********************************/
/************Header***************/
/*********************************/
.header {
  width: 100%;
}

.name {
  color: white;
  width: 12%;
  padding: 20px 0px;
  background-color: #4aaaa5;
  float: left;
  margin: 0% 20% 0 5%;
  text-align: center;
}

.page_listings {
  width: 27%;
  float: right;
  margin-top: 1.5%;
}

li {
  display: inline;
  border-right: 1px gray solid;
  padding: 0 5%;
  decoration: none;
}

#header_hr {
  width: 100%;
  height: 3px;
  background-color: black;
  border: none;
  margin-bottom: 2%;
}


/************************************/
/************Biography***************/
/************************************/
.main_content {
  background-color: gray;
  margin: 5% 0 6.2% 5%;
  float: left;
  padding: 0 2% 2% 2%;
  width: 40%;
  font-family: Helvetica, Arial, Sans-Serif;
}

#about_me {
  color: #4aaaa5;
  font-family: Georgia, Serif;
  margin: 3%;
  border-bottom: 2px solid black;
}

#brett_photo {
  height: 200px;
  width: 200px;
  float: left;
}

#brett_bio {
  display: inline;
}

#main_content_hr {
  width: 100%;
  height: 2px;
  background-color: black;
  border: none;
}

/*********************************/
/**************Contacts***********/
/*********************************/

.contacts {
  background-color: gray;
  flex-direction: column;
  float: right;
  width: 30%;
  margin: 5% 5% 0% 0%;
}

.contacts_title {
  text-align: center;
  border-bottom: 3px solid black;
  width: 80%;
  margin: 3% 0 0 10%;
}

.contacts_content {
  display: flex;
  justify-content: space-around;
  margin: 5% 5% 5% 12%;
}

img {
  height: 95%;
  width: 65%;
}

/*********************************/
/************Footer***************/
/*********************************/
footer {
  clear: both;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  padding: 3% 0;
  background-color: gray;
  color: white;
  width: 100%;
}
