.page_wrapper {
  font-family: 'Georgia';
  margin: 2% 5%;
  padding: 0px 25px 45px 15px;
}


/*********************************/
/************Header***************/
/*********************************/
.header {
  width: 100%;
}

.name {
  color: white;
  width: 15%;
  padding: 7px 0px;
  background-color: black;
  float: left;
  margin: -2% 20% 0 5%;
  text-align: center;
}

.page_listings {
  width: 27%;
  float: right;
  margin-top: 0%;
}

h4 {
  display: inline;
  border-right: 1px gray solid;
  padding: 0px 5%;
}

#header_hr {
  width: 100%;
  height: 3px;
  background-color: black;
  border: none;
}


/************************************/
/************Biography***************/
/************************************/
.main_content {
  background-color: gray;
  margin: 5% 0 5% 5%;
  float: left;
  padding: 0px 1%;
  width: 55%;
}

#brett_photo {
  height: 200px;
  width: 200px;
  float: left;
}

#brett_bio {
  display: inline;
}

#main_content_hr {
  width: 100%;
  height: 2px;
  background-color: black;
  border: none;
}

/*********************************/
/**************Contacts***********/
/*********************************/

.contacts {
  background-color: gray;
  flex-direction: column;
  float: right;
  width: 30%;
  margin: 5% 5% 0% 0%;
}

.contacts_title {
  text-align: center;
}

.contacts_title > hr {
  width: 70%;
  height: 2px;
  background-color: black;
  border: none;
}

.contacts_content {
  display: flex;
  justify-content: space-around;
  margin: 5% 5% 5% 12%;
}

img {
  height: 95%;
  width: 65%;
}

/*********************************/
/************Footer***************/
/*********************************/
footer {
  clear: both;
  text-align: center;
  border-top: 5px solid black;
  padding: 0.5% 0;
  background-color: gray;
  color: white;
}
